<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户列表</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <script src="../static/js/jquery-1.8.3.js"></script>
</head>
<body class="container">
<br/>
<h1>房源评价列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>房子ID</th>
            <th>房子评价</th>
            <th>用户ID</th>
            <th>日期</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" id="id" th:text="${houseappraise.a_id}">1</th>
            <td th:text="${houseappraise.a_hourseappraise}">罗文弟</td>
            <td th:text="${houseappraise.a_userid}">123456</td>
            <td th:text="${houseappraise.a_data}">16</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>