<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="luo.demo.dao.UserMapper">
<select id="checkUser" resultType="users">
        select * from users where u_username=#{arg0} and u_password=#{arg1}
    </select>

<insert id="insertUser" parameterType="users">
        insert into users (u_username,u_password,telephone)values(#{u_username},#{u_password},#{telephone})
    </insert>

<update id="updateUser" parameterType="users">
        update users set u_username=#{u_username} ,u_password = #{u_password},telephone=#{telephone} where u_id = #{u_id}
    </update>

<select id="getallUser" resultType="users">
        select * from users
    </select>

</mapper>